src/main/resources/wsdl/GestoreAllegato.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.protocollo.eng" xmlns:impl="http://ws.protocollo.eng" xmlns:intf="http://ws.protocollo.eng" xmlns:tns2="http://data.protocollazione.protocollo.eng" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.protocollo.eng" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://data.protocollazione.protocollo.eng" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.protocollazione.protocollo.eng"/>
   <element name="visualizzaAllegatoResponse">
    <complexType>
     <sequence>
      <element name="visualizzaAllegatoReturn" nillable="true" type="tns2:DettagliAllegato"/>
     </sequence>
    </complexType>
   </element>
   <element name="inserimentoAllegato">
    <complexType>
     <sequence>
      <element name="codice_applicazione_chiamante" nillable="true" type="xsd:string"/>
      <element name="password_applicazione_chiamante" nillable="true" type="xsd:string"/>
      <element name="codice_procedura" nillable="true" type="xsd:string"/>
      <element name="codice_documento" nillable="true" type="xsd:string"/>
      <element name="utente_connesso" nillable="true" type="xsd:string"/>
      <element name="tipo_protocollo" nillable="true" type="xsd:string"/>
      <element name="anno_protocollo" nillable="true" type="xsd:int"/>
      <element name="progressivo_protocollo" nillable="true" type="xsd:int"/>
      <element name="descrizione_file" nillable="true" type="xsd:string"/>
      <element name="nome_file" nillable="true" type="xsd:string"/>
      <element name="dimensione_file" nillable="true" type="xsd:int"/>
      <element name="tipo_file" nillable="true" type="xsd:string"/>
      <element name="allegato" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="inserimentoAllegatoResponse">
    <complexType>
     <sequence>
      <element name="inserimentoAllegatoReturn" nillable="true" type="tns2:NumeroAllegato"/>
     </sequence>
    </complexType>
   </element>
   <element name="visualizzaAllegato">
    <complexType>
     <sequence>
      <element name="codice_applicazione_chiamante" nillable="true" type="xsd:string"/>
      <element name="password_applicazione_chiamante" nillable="true" type="xsd:string"/>
      <element name="codice_procedura" nillable="true" type="xsd:string"/>
      <element name="codice_documento" nillable="true" type="xsd:string"/>
      <element name="utente_connesso" nillable="true" type="xsd:string"/>
      <element name="tipo_protocollo" nillable="true" type="xsd:string"/>
      <element name="anno_protocollo" nillable="true" type="xsd:int"/>
      <element name="progressivo_protocollo" nillable="true" type="xsd:int"/>
      <element name="progressivo_allegato" nillable="true" type="xsd:int"/>
      <element name="tipo_allegato" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
    <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://data.protocollazione.protocollo.eng" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="DettagliAllegato">
    <sequence>
     <element name="tipo_protocollo" nillable="true" type="xsd:string"/>
     <element name="anno_protocollo" nillable="true" type="xsd:string"/>
     <element name="numero_protocollo" nillable="true" type="xsd:string"/>
     <element name="id_file" nillable="true" type="xsd:string"/>
     <element name="nome_file" nillable="true" type="xsd:string"/>
     <element name="path" nillable="true" type="xsd:string"/>
     <element name="virual_path" nillable="true" type="xsd:string"/>
     <element name="descrizione_file" nillable="true" type="xsd:string"/>
     <element name="dimensione_file" nillable="true" type="xsd:string"/>
     <element name="id_hash" nillable="true" type="xsd:string"/>
     <element name="identificativo_hash_originale" nillable="true" type="xsd:string"/>
     <element name="identificativo_file_originale" nillable="true" type="xsd:string"/>
     <element name="file" type="xsd:base64Binary"/>
     <element name="motivoAnnullamento" nillable="true" type="xsd:string"/>
     <element name="errore" nillable="true" type="tns2:Errore"/>
    </sequence>
   </complexType>
   <complexType name="Errore">
    <sequence>
     <element name="codiceErrore" nillable="true" type="xsd:string"/>
     <element name="descrizioneErrore" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="NumeroAllegato">
    <sequence>
     <element name="tipo_protocollo" nillable="true" type="xsd:string"/>
     <element name="anno_protocollo" nillable="true" type="xsd:string"/>
     <element name="numero_protocollo" nillable="true" type="xsd:string"/>
     <element name="numero_allegato" nillable="true" type="xsd:string"/>
     <element name="identificativo_hash" nillable="true" type="xsd:string"/>
     <element name="errore" nillable="true" type="tns2:Errore"/>
    </sequence>
   </complexType>
  </schema>
  </wsdl:types>
  <wsdl:message name="inserimentoAllegatoRequest">
    <wsdl:part element="impl:inserimentoAllegato" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="inserimentoAllegatoResponse">
    <wsdl:part element="impl:inserimentoAllegatoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="visualizzaAllegatoRequest">
    <wsdl:part element="impl:visualizzaAllegato" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="visualizzaAllegatoResponse">
    <wsdl:part element="impl:visualizzaAllegatoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GestoreAllegato">
    <wsdl:operation name="visualizzaAllegato">
      <wsdl:input message="impl:visualizzaAllegatoRequest" name="visualizzaAllegatoRequest">
    </wsdl:input>
      <wsdl:output message="impl:visualizzaAllegatoResponse" name="visualizzaAllegatoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserimentoAllegato">
      <wsdl:input message="impl:inserimentoAllegatoRequest" name="inserimentoAllegatoRequest">
    </wsdl:input>
      <wsdl:output message="impl:inserimentoAllegatoResponse" name="inserimentoAllegatoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestoreAllegatoSoapBinding" type="impl:GestoreAllegato">
<wsaw:UsingAddressing wsdl:required="false"/>
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="visualizzaAllegato">
      <wsdlsoap:operation soapAction="visualizzaAllegato"/>
      <wsdl:input name="visualizzaAllegatoRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="visualizzaAllegatoResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserimentoAllegato">
      <wsdlsoap:operation soapAction="inserimentoAllegato"/>
      <wsdl:input name="inserimentoAllegatoRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="inserimentoAllegatoResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestoreAllegatoService">
    <wsdl:port binding="impl:GestoreAllegatoSoapBinding" name="GestoreAllegato">
      <wsdlsoap:address location="http://10.150.20.117:80/protocollowebsoap/services/GestoreAllegato"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
